HTML {
  font-size: 16px;

  --transition: .25s;
  --color-base: #FFF;
}

BODY {
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(#253B59, turquoise);
  font: 1rem/1.4 Trebuchet MS, Verdana, sans-serif;
  text-align: center;
  color: var(--color-base);
}

H1, H2, H3 {
  margin-top: 0;
  font-weight: normal;
}

H1 {
  margin: 1em 0;
  font-size: 2.75rem;
}

A,
A:visited,
A:hover {
  color: inherit;
}

A:hover {
  text-decoration: none;
}

.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 3rem;
  box-sizing: border-box;
}

.page__header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
  border-bottom: 1px solid var(--color-basetransp);
}

.theme-switcher {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.page__footer {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0;
  padding-top: 2rem;
  border-top: 1px solid var(--color-basetransp);
}

.page__main {
  display: flex;
  justify-content: space-around;
}

.page__section {
  display: flex;
  flex-direction: column;
}

.page__section--editor {
  flex-shrink: 0;
  margin-right: 3rem;
}

.page__section--view {
  flex-shrink: 0;
  flex-grow: 1;
}

.page__section-content {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.snowflake-editor,
.snowflake-view {
  width: 100%;
}
