HTML {
  font-size: 16px;
}

BODY {
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(#253B59, turquoise);
  font: 1rem/1.4 Trebuchet MS, Verdana, sans-serif;
  text-align: center;
  color: #FFF;
}

.controls {
  outline: 2px solid red;
}

.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1260px;
  margin: 2rem auto;
  padding: 0 3rem;
  box-sizing: border-box;
}

.page__main {
  display: flex;
  justify-content: space-around;
}

.page__section {
  display: flex;
  flex-direction: column;
}

.page__section--editor {
  flex-shrink: 0;
  margin-right: 3rem;
}

.page__section--view {
  flex-shrink: 0;
  flex-grow: 1;
}

.page__section-content {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

snowflake-editor,
snowflake-view {
  width: 100%;
}
